<h1>User profile</h1>
<br>
<p> User ID: <%= @user.id %></p>
<p> User email: <%= @user.email %></p>
<br>
<a href="<%= edit_user_path %>">Edit user</a>
<%= link_to 'Delete user', @user, method: :delete %>
