<h1>User profile</h1>
<br>
<p> User ID: <%= @user.id %></p>
<p> User email: <%= @user.email %></p>
<br>

<%= link_to 'Delete user', @user, method: :delete, class: 'btn btn-danger' %>
<%= button_to "Edit user", edit_user_path, class: 'btn btn-primary', method: :get %>
